@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. He He BOY. Foo is in elation. He's part of the Sun nation.  */
body {
	margin: 0 auto;
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;}
h3 {
        padding: 15px;
}
p {
	padding: 15px;
}
.homePage {
	background: #D8F5BA;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #ABD950;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 75px;
	
}
.nav {
	background: #91F064;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #FFFFFF;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: left;
	paddding: 20px;
}
.footer {
	background: #50D954;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #6462DB;
}
a:visited {
     color: #8B61F2;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
